<div class="team">
  <h2>Our team</h2>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/images/14731127.jpg" class="rounded-circle">
        <div class="name">Dan Mackie</div>
        <div class="title">Co-Founder</div>
        <!-- <p class="info">I like finding creative technical solutions to help companies be better. Happy to help with challenges big and small. Cast in the north, honed in London.</p> -->
      </div>
      <div class="col">
        <img src="assets/images/37dde9e.jpg" class="rounded-circle">
        <div class="name">Nik Grinkevich</div>
        <div class="title">Co-Founder</div>
        <!-- <p class="info">A decade of full stack and dev ops, I love creating succinct and quality technical architecture. Sector agnostic with experience in fintech, adtech and edtech. Siberian.</p> -->
      </div>
      <div class="col">
        <img src="assets/images/1176131.jpg" class="rounded-circle">
        <div class="name">George Whewell</div>
        <div class="title">Backend Developer</div>
      </div>
    </div>
    <div class="row">
      
      <div class="col">
        <img src="assets/images/NDE4ZA.jpg" class="rounded-circle">
        <div class="name">James Bowden</div>
        <div class="title">Backend Developer</div>
      </div>
      <div class="col">
        <img src="assets/images/3144ee4.jpg" class="rounded-circle">
        <div class="name">Andrea Dona</div>
        <div class="title">UX/UI Expert</div>
      </div>
      <div class="col">
        <img src="assets/images/07cf493.jpg" class="rounded-circle">
        <div class="name">Andrei Neagu</div>
        <div class="title">UX/UI Expert</div>
      </div>
    </div>
  </div>
</div>
