@import "../../../styles/variables";

.navbar {
  text-align: center;
  background-color: transparent;
  background: transparent;

  .navbar-brand {
    font-size: 48px;
    color: $text-color;
    letter-spacing: -1.1px;
  }

  .nav-item {
    font-size: 15px;
    color: $text-color;
    // margin-right: 3px;

    i {
      width: 25px;
      height: 25px;
      color: $white;
      border-radius: 50%;
      line-height: 25px;
      display: inline-block;
      margin-right: 5px;

      &.fa-slack {
        background-color: $slack;
      }

      &.fa-facebook {
        background-color: $facebook;
      }

      &.fa-twitter {
        background-color: $twitter;
      }

      &.fa-github {
        background-color: $github;
      }

    }
  }
}
