@import "../../../styles/variables";

.navbar {
  text-align: center;
  background-color: transparent;
  background: transparent;

  .navbar-collapse {
    justify-content: center;
  }

  .nav-item {
    color: $tatami-white;

    img {
      width: 20px;
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}
