<div class="hero">
  <app-navbar></app-navbar>

  <div class="hero__inner mt-5">
    <div class="container">
      <h2 class="mx-auto mt-4 px-xl-5">A Language learning network powered by blockchain and peer&#x2011;to&#x2011;peer technologies.</h2>

      <div class="mx-auto mt-4">
        <div class="rounded-container">
          <input class="hero__inner__email-input" type="email" placeholder="your email">
        </div>
        <button class="btn btn-tatami-blue">
          Register your interest
          <!-- <i class="fa fa-long-arrow-right" aria-hidden="true"></i> -->
        </button>
      </div>

<!--       <button class="btn btn-tatami-blue">Learn more</button>
 -->

    </div>
  </div>
</div>
