@import "../../../styles/variables";

.hero {
  height: 400px;
  background-image: url('../../../assets/images/background-gradient.jpg');
  background-size: 321px auto;
  background-repeat: repeat-x;
  padding: 0;
  text-align: center;

  &__inner {
    display: flex;
    align-items: center;

    &__email-input {
      width: 300px;
      margin: 5px 15px;
      border: 0;
      outline-width: 0;
      opacity: 0.5;
    }
  }
}
