<div class="hero">
  <app-navbar></app-navbar>

  <div class="hero__inner">
    <div class="container">
      <h1 class="display-3">Tatami</h1>
      <p class="lead">The first decentralised social network for learning languages</p>

      <p class="mt-5">Request early access</p>

      <div class="rounded-container mx-auto">
        <input class="hero__inner__email-input" type="email" placeholder="your email">
        <button class="btn btn-tatami-blue pull-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
      </div>

<!--       <button class="btn btn-tatami-blue">Learn more</button>
 -->

    </div>
  </div>
</div>
