@import "variables";

body {
  // font-family: 'Varela Round', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: $text-color;
}

button, input, optgroup, select, textarea {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  text-align: center;
}

p {
  font-weight: 300;
}

.text-muted {
  color: $text-muted;
}
