$max-font-size: 34px;
$max-font-size-768: 25px;
$max-font-size-544: 10px;

$text-color: #444;
$text-color-light: #9B9DA0;
$tatami-muted: #999;

$tatami-green: #a3c336;
$tatami-red: #f43650;
$tatami-orange: #ffa903;
$tatami-blue: #3693c3;
