<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2 class="mt-4">How does it work?</h2>
      <p class="m-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-tatami-blue">Download whitepaper</button>
    </div>
  </div>
  <div class="row">
    <div class="col map">
      <img class="map__background" src="assets/images/map.png" />
      <app-person
        *ngFor="let person of people; let index = index"
        [userLanguage]="userLanguage"
        [person]="person"
        [content]="content"
        [timeouts]="timeouts"
        [index]="index"
        [reset]="reset"
        [questionBeenAnswered]="questionBeenAnswered"
        (questionBeenAsked)="questionBeenAsked($event)"
        (playSound)="playSound($event)">
      </app-person>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <h2 class="mt-4">The concept</h2>
    </div>
  </div> -->
  <div class="row mt-5">
    <div class="col">
    <h5>Native speakers help</h5>
      <p class="m-4">Solve your any language query instantly with a native speaker, whether it be translation, proof reading, or pronunciation
</p>
    </div>
    <div class="col">
      <h5>Monetize your language</h5>
      <p class="m-4">Earn tradeable tokens for each  educational interaction. Use your tokens to learn a new language yourself.</p>
    </div>
    <div class="col">
      <h5>Transparency and Security</h5>
      <p class="m-4">Smart contracts provide incentivised user transparency and quality learning interactions as well as trusted rank mechanism for learners and educators</p>
    </div>
  </div>
</div>
