<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2 class="mt-4">Lorem ipsum dolor sit amet</h2>
      <p class="m-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
  <div class="row">
    <div class="col map">
      <img class="map__background" src="assets/images/map.png" />
      <app-person
        *ngFor="let person of people; let index = index"
        [userLanguage]="userLanguage"
        [person]="person"
        [content]="content"
        [timeouts]="timeouts"
        [index]="index"
        [reset]="reset"
        [questionBeenAnswered]="questionBeenAnswered"
        (questionBeenAsked)="questionBeenAsked($event)"
        (playSound)="playSound($event)">
      </app-person>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <h2 class="mt-4">The concept</h2>
    </div>
  </div> -->
  <div class="row mt-5">
    <div class="col">
    <h5>Lorem ipsum dolor</h5>
      <p class="m-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis "</p>
    </div>
    <div class="col">
      <h5>Lorem ipsum dolor</h5>
      <p class="m-4">"nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="col">
      <h5>Lorem ipsum dolor</h5>
      <p class="m-4">"quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
</div>
